.container {
    display: flex;
    justify-content:right;
    align-items: center;

    .input-group{
        width: 95%;
    }

    .input-group-text{
        border: solid 1px;
    }
    
    .form-control {
        border: solid 1px;
    }
}