.navbar{
    background-color: #82AEEF;
    margin-bottom: 3vh;
    color: white;
    font-family: 'Reggae One', cursive;

    img{
        width: 6vh;
        height: 6vh;
        margin-left: 3vh;
    }

    .btn {
        margin-right: 3vh;
    }
}