<div class="accordion" id="accordionPanelsStayOpenExample" *ngIf="anime">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapseScore">
                Score
            </button>
        </h2>
        <div id="collapseScore" class="accordion-collapse show" aria-labelledby="headingScore">
            <div class="accordion-body">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">NOTA Ranked #?</h5>
                        <p class="card-text">{{anime.premiered}} | {{anime.type}} | {{anime.studios}}</p>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Nota
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">1</a></li>
                                    <li><a class="dropdown-item" href="#">2</a></li>
                                    <li><a class="dropdown-item" href="#">3</a></li>
                                    <li><a class="dropdown-item" href="#">4</a></li>
                                    <li><a class="dropdown-item" href="#">5</a></li>
                                    <li><a class="dropdown-item" href="#">6</a></li>
                                    <li><a class="dropdown-item" href="#">7</a></li>
                                    <li><a class="dropdown-item" href="#">8</a></li>
                                    <li><a class="dropdown-item" href="#">9</a></li>
                                    <li><a class="dropdown-item" href="#">10</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    +Añadir a la lista
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Plan to watch</a></li>
                                    <li><a class="dropdown-item" href="#">Watching</a></li>
                                    <li><a class="dropdown-item" href="#">Completed</a></li>
                                    <li><a class="dropdown-item" href="#">Dropped</a></li>
                                    <li><a class="dropdown-item" href="#">On-Hold</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapseTrailer">
                Trailer
            </button>
        </h2>
        <div id="collapseTrailer" class="accordion-collapse show" aria-labelledby="headingTrailer">
            <div class="accordion-body">
                <div class="responsive-iframe-container">
                    <iframe width="560" height="315" [src]="safeTrailerUrl" ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapseSynopsis">
                Synopsis
            </button>
        </h2>
        <div id="collapseSynopsis" class="accordion-collapse show" aria-labelledby="headingSynopsis">
            <div class="accordion-body">
                {{anime.synopsis}}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReviews" aria-expanded="true" aria-controls="collapseReviews">
                Reviews
            </button>
        </h2>
        <div id="collapseReviews" class="accordion-collapse collapse" aria-labelledby="headingReviews">
            <div class="accordion-body">
            </div>
        </div>
    </div>
</div>

